{% extends 'todo/base.html' %}

{% block content %}
 <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>View and edit</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{ todo.title }}" required {% if next == 'completedtodos' %}disabled{% endif %}>
                </div>
                <div class="form-group">
                    <label for="memo">Memo</label>
                    <textarea name="memo" rows="5" class="form-control" id="memo" >{{ todo.memo }}</textarea>
                </div>
                <div class="form-group">
                    <label for="importance">Importance (1-5)</label>
                    <select name="importance" class="form-control" id="importance" required style="width: 70px; display: inline-block;">
                        <option value="1" {% if todo.importance == 1 %}selected{% endif %}>1</option>
                        <option value="2" {% if todo.importance == 2 %}selected{% endif %}>2</option>
                        <option value="3" {% if todo.importance == 3 %}selected{% endif %}>3</option>
                        <option value="4" {% if todo.importance == 4 %}selected{% endif %}>4</option>
                        <option value="5" {% if todo.importance == 5 %}selected{% endif %}>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn {% if next == 'completedtodos' %}btn-outline-secondary disabled{% else %}btn-success{% endif %}" {% if next == 'completedtodos' %}disabled{% endif %} onclick="$('#complete').click()">Complete</button>
                <button type="button" class="btn {% if next == 'completedtodos' %}btn-outline-secondary disabled{% else %}btn-danger{% endif %}" {% if next == 'completedtodos' %}disabled{% endif %} onclick="$('#delete').click()">Delete</button>
            </form>
        </div>
    </div>
    {% if todo.datecompleted is None %}
        <form style='display: none;' method="POST" action="{% url 'completetodo' todo.id %}">
            {% csrf_token %}
            <button id="complete" type="submit">Complete</button>
        </form>
    {% endif %}
    <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button id="delete" type="submit">Delete</button>
    </form>
    
{% endblock %}